{% extends "base.html" %}

{% block title %}The GAE SWF Project: Flash and Flex apps on Google App Engine{% endblock %}

{% block content %}

<h1>Flash and Flex on Google App Engine</h1>

<p>The GAE SWF Project is a resource of Flash and Flex-related knowledge specifically aimed at getting you up and running quickly with Google App Engine, a wonderful platform for building and deploying massively-scalable Flash and Flex applications.</p>

<p>An equally-important goal is to raise awareness and stimulate discussion in the Flash and Flex communities of web standards and best practices. These include deep linking; better SWF embedding techniques that facilitate the implementation of progressive enhancement; loosely-coupled, well-encapsulated application architecture that separates presentation and business logic; and the use of various high-quality open source libraries and tools.</p>

<p>Finally, it is the author's personal opinion that practicality and simplicity are two of Flash's most important assets and, as such, the examples will strive to favor pragmatism over academic purity, simplicity over complexity, and convention over configuration.</p>

<p>The GAE SWF Framework, the underpinnings of which you can see in the initial <a href="/examples/initial/flash">Flash 9</a> and <a href="/examples/initial/flex">Flex 3</a> clients, uses various excellent open source components that are documented in the source code and linked to from the Links list. The GAE SWF Framework will evolve as we use it to build the web application for the <a href="http://singularity08.com/" title="Singularity Conference">Singularity Web Conference</a>, the world's first large-scale <em>online</em> web conference due to take place October 24-26th, 2008.</p>

{% endblock %}