<!--[if lt IE 8]>
    <script src="http://media.vyperlogix.com/pyeggs/media/IE8.js" type="text/javascript"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="http://media.vyperlogix.com/pyeggs/media/site_layout.css">
<link rel="stylesheet" type="text/css" href="http://media.vyperlogix.com/pyeggs/media/body_styling.css">
<!--[if IE]>
    <link rel="stylesheet" type="text/css" href="http://media.vyperlogix.com/pyeggs/media/ie_fixes.css">
<![endif]-->
<link rel="icon" href="http://www.pypi.info/favicon.gif" type="image/gif">
<link rel="shortcut icon" href="http://www.pypi.info/favicon.gif" type="image/gif">
<link rel="stylesheet" href="http://media.vyperlogix.com/pyeggs/media/default.css" type="text/css">
